body {
    max-width: 1280px;
    margin: auto;
}

header {
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color:#FF0000;
}

.item {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25.5px;
    margin-left: 72px;
    margin-bottom: 25.5px;
    line-height: 18px;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.header {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
    margin-left: 253px;
    margin-right: 253px;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 3.3px;
}

.content {
    text-align: center;
    width: 1145px;
    margin-bottom: 28px;
    line-height: 26px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    letter-spacing: 2.4px;
}

.button {
text-align: center;
color: white;
font-weight: 700;
font-size: 15px;
padding-right: 42.5px;
padding-left: 43.5px;
padding-top: 18px;
letter-spacing: 2px;
padding-bottom: 17px;
max-width: 105px;
line-height: 12px;
border-radius: 4px;
background-color: #FF0000;
margin-top: 66px;
margin-left: 500px;
}

footer {
    display: flex;
    color: #373737;
    font-weight: 700;
    margin-left: 713px;
    margin-bottom: 29px;
    margin-top: 82px;
    font-size: 16px;
    letter-spacing: 2.4px;
}